/Guía 2/RegistrarProducto/nbproject/private/
/Guía 2/RegistrarProducto/build/
/Guía 3/Ferreteria/nbproject/private/
/Guía 3/Ferreteria/build/
/Guía 4/SistemaSupermercado/nbproject/private/
/Guía 4/SistemaSupermercado/build/
/Guía 4/Ferreteria/build/
/Guía 4/Ferreteria/nbproject/private/
