/Guía 2/RegistrarProducto/nbproject/private/
/Guía 2/RegistrarProducto/build/
/Guía 3/Ferreteria/nbproject/private/
/Guía 3/Ferreteria/build/
/Guía 4/SistemaSupermercado/nbproject/private/
/Guía 4/SistemaSupermercado/build/
/Guía 4/Ferreteria/build/
/Guía 4/Ferreteria/nbproject/private/
/Guía 6/SuperMercado/dist/
/Guía 6/SuperMercado/nbproject/private/
/Guía 7/SuperMercado/build/
/Guía 7/SuperMercado/dist/
/Guía 7/SuperMercado/nbproject/private/
/Guía 6 - copia/SuperMercado/nbproject/private/
/Guía 8/Ferreteria/nbproject/private/
/Guía 8/Ferreteria/build/
/Guía 6/Ferreteria/nbproject/private/
